.dial {
  position: absolute;
  top: 78px;
  left: 193px;
  z-index: 10;

  /* -ms-transform: rotate(-120deg);  IE 9 */
  /* -webkit-transform: rotate(-120deg);  Chrome, Safari, Opera */
  transform: rotate(-114deg);
  transform-origin: 50% 90%;
}

.meter {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color:#00fa0a;
}


